[submodule "floteo-blockchain-gui"]
	path = floteo-blockchain-gui
	url = https://github.com/Chia-Network/floteo-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "floteo-blockchain-gui"]
	path = floteo-blockchain-gui
	url = https://github.com/cryptowataha/floteo-blockchain-gui.git
